@model Model.Domain.ControlDeCalzado.Defecto

@{
    ViewBag.Title = "Defecto";
}

<h2>Detalles del Defecto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescripcionDefecto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionDefecto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Defecto", "Edit", new { id = Model.IdDefecto }, new { @class = "btn" }) |
    @* @Html.ActionLink("Back to List", "Index")*@
</p>
<div>
    <a class="btn" href="javascript:void(0);" onclick="history.go(-1);">Volver a la Lista</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
