@{
    ViewBag.Title = "Inicio";
    var role = string.Empty;
    if (Request.IsAuthenticated)
    {
        role = Services.UserService.GetRole(Common.CurrentUser.Get.UserId).Role;
    }
}

<div class="jumbotron">
    @if (Request.IsAuthenticated)
    {
        <h1>Hola @Common.CurrentUser.Get.Name</h1>
        <h4>Rol: @role</h4>
    }
    else
    {
        <h1>Sistema de Control de Calzado</h1>
        <p class="lead">Inicie Sesión para comenzar.</p>
        <p>
            <a href='@Url.Action("Login", "Account")' class="btn">Iniciar Sesión &raquo;</a>
        </p>
    }
</div>

<div class="row" style="display:inline-flex; flex-wrap:nowrap">

	@if (Request.IsAuthenticated)
	{
		if (role == "Admin")
		{
			<div class="col-md-2">

				<h2>Colores</h2>
				<p>Gestionar Colores</p>
				<p><a class="btn" href='@Url.Action("Index", "Color")'>Colores &raquo;</a></p>
			</div>
			<div class="col-md-2">
				<h2>Modelos</h2>
				<p>Gestionar Modelos</p>
				<p><a class="btn" href='@Url.Action("Index", "Modelo")'>Modelos &raquo;</a></p>
			</div>

		}
		if (role == "Admin" || role == "SuperLinea")
		{
			<div class="col-md-2">
				<h2>Lineas</h2>
				<p>Gestionar Lineas</p>
				<p><a class="btn" href='@Url.Action("Index", "LineaDeProduccion")'>Lineas &raquo;</a></p>
			</div>

			<div class="col-md-2">
				<h2>Defectos</h2>
				<p>Gestionar Defecto</p>
				<p><a class="btn" href='@Url.Action("Index", "Defecto")'>Defectos &raquo;</a></p>
			</div>

			<div class="col-md-2">
				<h2>Turnos</h2>
				<p>Gestionar Turnos</p>
				<p><a class="btn" href='@Url.Action("Index", "Turno")'>Turno &raquo;</a></p>
			</div>
		}

		<div class="col-md-2">
			<h2>Ordenes de Produccion</h2>
			<p>Gestionar Ordenes de Produccion</p>
			<p><a class="btn" href='@Url.Action("Index", "OrdenDeProduccion")'>Ordenes &raquo;</a></p>
		</div>

		
	}
</div>