@model Model.Custom.OrdenDeProduccionGrid
@using Services
@{
    ViewBag.Title = "Orden de Produccion";
    var role = Services.UserService.GetRole(Common.CurrentUser.Get.UserId).Role;
}

<h2>Detalle Orden de Produccion</h2>

<div id="DetalleOp">
    @*<h4>OrdenDeProduccion</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaDeInicio)
        </dt>

        <dd>
            @Model.FechaDeInicio.ToString("dd-MM-yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadDePrimera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadDePrimera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supervisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supervisor)
        </dd>

    </dl>
</div>
<p>
    @*Al Rol SuperCalidad se le retira la opcion de EditarOP*@
    @if ((role == "Admin") || (role == "SuperLinea"))
    {
        @Html.ActionLink("Editar OP", "Edit", new { id = Model.Numero }, new { @class = "btn" })
        if (Model.UserId == null)
        {
            @Html.ActionLink("Asignar Op", "AsignarSupervisorDeCalidad", new { id = Model.Numero }, new { @class = "btn" })
        }

    }
    else
    {
        if (OrdenDeProduccionService.JornadaActiva(Model.Numero) && Model.Estado != EstadoOp.Finalizada)
        {
            if (role == "SuperCalidad")
            {
                @Html.ActionLink("Desvincular Op", "DesvincularSupervisorDeCalidadDeOp", new { id = Model.Numero }, new { @class = "btn" })
                @Html.ActionLink("Continuar Inspeccion", "ContinuarInspeccion", new { id = Model.Numero }, new { @class = "btn" })
            }

        }
        else
        {
            if (role == "SuperCalidad")
            {
                @Html.ActionLink("Desvincular Op", "DesvincularSupervisorDeCalidadDeOp", new { id = Model.Numero }, new { @class = "btn" })
                @Html.ActionLink("Iniciar Inspeccion", "IniciarInspeccion", new { id = Model.Numero }, new { @class = "btn" })
                @Html.ActionLink("Ver Semaforos", "Semaforo","Alerta", new { id = Model.Numero }, new { @class = "btn" })
            }
        }
    }
</p>
<div>
    @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn" })
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

