@model Model.Domain.ControlDeCalzado.OrdenDeProduccion
@using Common
@using System.Text.RegularExpressions;

@{
    ViewBag.Title = "Inspeccionar";
}
<meta charset="utf-8">
<div class="row" style="padding-bottom:10px">
    <div class="col">
        <h2 style="text-align:left;">Inspeccionar</h2>
    </div>  <!-- CIERRE COL 1 DE TITULO-->
    <hr />
</div>  <!-- CIERRE ROW 1 DE TITULO-->

<div class="row" style="padding-bottom:30px">

    <div class="col-md-4">
        <ul>
            <li>

                <h4 style="text-align:left;">Fecha de Inicio: @Model.FechaDeInicio.ToString("dd/MM/yyyy")</h4>
            </li>
            <li>
                <h4 style="text-align:left;">Línea: @Model.IdLinea</h4>
            </li>
        </ul>
    </div> <!-- CIERRE COL 1 DE DATOS-->

    <div class="col-md-4">
        <ul>
            <li>
                <h4 style="text-align:left;">Sku: @Model.Sku</h4>
            </li>
            <li>
                <h4 style="text-align:left;">Modelo: @ViewBag.Modelo.Denominacion</h4>
            </li>
        </ul>
    </div> <!-- CIERRE COL 2 DE DATOS-->

    <div class="col-md-4">
        <ul>
            <li>
                <h4 style="text-align:left;">Codigo Color: @Model.CodigoColor</h4>
            </li>
            <li>
                <h4 style="text-align:left;">Color: @ViewBag.Color.DescripcionColor</h4>
            </li>
        </ul>
    </div>  <!-- CIERRE COL 3 DE DATOS-->

</div>  <!-- CIERRE ROW 1-->

<div class="row">
    <div class="col">
        <p> Cambiar hora:</p>
        @*@foreach (var item in collection)
        {
            <select>  <option>  
        }*@

        
    </div> <!-- CIERRE COL 1 DE CAMBIAR HORA-->
</div> <!-- CIERRE ROW 2-->

<div class="row">
    <div class="col-md-12">

        <table class="table" style="font-size: 28px; width: 75%; margin-left: 122px">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        Par de Primera
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button style="border-radius: 15px" id="btnRestar">-</button>
                    </td>
                    <td>
                        <span id="lblcantidad">@Model.CantidadDePrimera</span>
                    </td>
                    <td>
                        <button style="border-radius: 15px" id="btnSumar">+</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> <!-- CIERRE COL 1 DE TABLA DE PAR DE PRIMERA-->
</div> <!-- CIERRE ROW 3-->


<div class="row">
    <div class="col-md-6">


        <table class="table">
            <thead>
                <tr>
                    <th>
                        Izquierdo
                    </th>
                    <th>
                        Observado
                    </th>
                    <th>
                        Derecho
                    </th>
                </tr>
            </thead>

            @foreach (var item in ViewBag.DefectosO)
            {
            <tr>
                <td>
                    <p>
                        <button style="border-radius: 15px" onclick="btnActualizarDefecto(@item.IdDefecto,'@(item.IdDefecto)Izquierdo', @((int)Pie.Izquierdo),@((int)TipoDefecto.Observado),-1)">-</button>
                        <span id="@(item.IdDefecto)Izquierdo">0</span>
                        <button style="border-radius: 15px" onclick="btnActualizarDefecto(@item.IdDefecto,'@(item.IdDefecto)Izquierdo', @((int)Pie.Izquierdo),@((int)TipoDefecto.Observado),1)">+</button>
                    </p>
                </td>
                <td>
                    @Html.Raw(item.DescripcionDefecto)
                </td>
                <td>
                    <p>
                        <button style="border-radius: 15px" onclick="btnActualizarDefecto(@item.IdDefecto,'@(item.IdDefecto)Derecho', @((int)Pie.Derecho),@((int)TipoDefecto.Observado),-1)">-</button>
                        <span id="@(item.IdDefecto)Derecho">0</span>
                        <button style="border-radius: 15px" onclick="btnActualizarDefecto(@item.IdDefecto,'@(item.IdDefecto)Derecho', @((int)Pie.Derecho),@((int)TipoDefecto.Observado),1)">+</button>
                    </p>
                </td>
            </tr>
            }

        </table>
    </div> <!-- CIERRE COL 1 DE TABLA DE DEFECTO OBSERVADO-->
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>
                    Izquierdo
                </th>
                <th>
                    Reproceso
                </th>
                <th>
                    Derecho
                </th>
            </tr>

            @foreach (var item in ViewBag.DefectosR)
            {
            <tr>
                <td>
                    <p>
                        <button style="border-radius: 15px" onclick="btnActualizarDefecto(@item.IdDefecto,'@(item.IdDefecto)Izquierdo', @((int)Pie.Izquierdo),@((int)TipoDefecto.Reproceso),-1)">-</button>
                        <span id="@(item.IdDefecto)Izquierdo">0</span>
                        <button style="border-radius: 15px" onclick="btnActualizarDefecto(@item.IdDefecto,'@(item.IdDefecto)Izquierdo', @((int)Pie.Izquierdo),@((int)TipoDefecto.Reproceso),1)">+</button>
                    </p>
                </td>
                <td>
                    @Html.Raw(item.DescripcionDefecto)
                </td>
                <td>
                    <p>
                        <button style="border-radius: 15px" onclick="btnActualizarDefecto(@item.IdDefecto,'@(item.IdDefecto)Derecho', @((int)Pie.Derecho),@((int)TipoDefecto.Reproceso),-1)">-</button>
                        <span id="@(item.IdDefecto)Derecho">0</span>
                        <button style="border-radius: 15px" onclick="btnActualizarDefecto(@item.IdDefecto,'@(item.IdDefecto)Derecho', @((int)Pie.Derecho),@((int)TipoDefecto.Reproceso),1)">+</button>
                    </p>
                </td>
            </tr>
            }
        </table>
    </div> <!-- CIERRE COL 2 DE TABLA DE DEFECTO DE REPROCESO-->
</div> <!-- CIERRE DE ROW 4 DE TABLAS DE DEFECTOS-->
<div>
    <div id="detail-container">
        @Html.ActionLink("Pausar OP", "PausarOp", "OrdenDeProduccion", new { id = Model.Numero }, new { @class = "btn" })
        @Html.ActionLink("Terminar OP", "TerminarOp", "OrdenDeProduccion", new { id = Model.Numero }, new { @class = "btn" })
    </div>
</div>


@section Scripts
{

    @Scripts.Render("~/bundles/jqueryval")
    @*Contador Pares de Primera*@
<script>
		$(document).ready(function () {
			$('#btnSumar').click(function () {
                actualizarCantidad(1);
            });

            $('#btnRestar').click(function () {
                actualizarCantidad(-1);
            });
        });

        function actualizarCantidad(cantidad) {
            var numeroDeOrden = "@Model.Numero";
            var cantidadActual = parseInt($('#lblcantidad').text());
            var nuevaCantidad = cantidadActual + cantidad;

            if (nuevaCantidad < 0) {
                alert('No se permiten numeros negativos');
                return;
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("ActualizarCantidad", "OrdenDeProduccion")",
                data: {
                    numeroDeOrden: numeroDeOrden,
                    idHorarioDeControl: parseInt(@ViewBag.IdHorarioDeControl),
					cantidad: cantidad
				},
                success: function (response) {
                    $('#lblcantidad').text(response);
                }
            });
        }

</script>


    <!--Registrar Defecto-->
    <script>

        function btnActualizarDefecto(IdDefecto,id,pie,tipoDefecto,cantidad) {
			//var cantidadActual = parseInt($('#lblcantidad').text());
            //var id = `${descripcionDefecto}Contador`;
            var cantidadActual = parseInt($(`#${id}`).text());
            var nuevaCantidad = cantidadActual + cantidad;

            if (nuevaCantidad < 0) {
                alert('No se permiten numeros negativos');
                return;
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("RegistrarDefecto", "OrdenDeProduccion")",
                data: {
						idHorarioDeControl: parseInt(@ViewBag.IdHorarioDeControl),
						cantidad: cantidad,
						IdDefecto:IdDefecto,
						pie:pie,
						tipoDefecto:tipoDefecto},
				success: function (response) {
					console.log("Defecto registrado");
					console.log(cantidadActual);
					console.log(response);
					console.log(id);
                    $(`#${id}`).text(response);
                }
            });
        }

    </script>

    <!--Actualizar Vista Detalle-->
    @*<script>
        $(document).on('click', '.detail-link', function () {
            var id = $(this).data('id');
            $.ajax({
                url: '/OrdenDeProduccion/Details/' + id,
                type: 'GET',
                success: function (result) {
                    $('#detail-container').html(result);
                }
            });
        });
    </script>*@

}
